
h1 {
color:#413d3e;
background-color:lightblue;
padding:20px 20px 0px 10px;
margin: -10px 0px 0px -10px; 
position:static;
}

body {
background-color:#f1d9b1;
font-family: 'Archivo', sans-serif;
}

footer {
display: block;
background-color:lightblue ;
position:fixed;
top:97vh;
width:100vw;
border:black;
border-style: solid;
margin-left:-10px ;
height:20px ;

}

#navigation { 
text-align: left;
background-color: #413d3e;
width:100vw;
margin:10px, 0px, -10px, 0px;
position:absolute;
}

.navbar a{
    display:inline;
    text-align:left;
    color:#01a1b1;
    border: #7bb4bd;
    background-color: #dfe8f1;
    border-style:solid;
} 

#aboutme {
    position:absolute;
    left:90vw;
}

h1 {
    font-family: 'Archivo', sans-serif;


}

#characterimg {
 width:30vh;
 height:20vh;
 display:block;
}

table{
    padding-top:50px;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table tr td, table tr th {
    border: 1px solid #ccc;
    margin: 0;
    padding: 6px 13px;
    text-align: left;
    background-color: beige;
}